@import url("https://fonts.googleapis.com/css?family=Gruppo|Nixie+One|Poiret+One");
.social::before {
  font-family: FontAwesome;
  padding-right: 5px; }
  .social::before__twitter::before {
    content: '\f099'; }
  .social::before__linkedin::before {
    content: '\f0e1'; }
  .social::before__facebook::before {
    content: '\f09a'; }
