@import url("https://fonts.googleapis.com/css?family=Gruppo|Nixie+One|Poiret+One");
.site-footer {
  background: black;
  text-align: center; }
  .site-footer ul {
    padding: 1rem; }

.social-menu a {
  color: white; }
  .social-menu a:before {
    font-family: FontAwesome;
    padding-right: 5px; }
  .social-menu a.twitter:before {
    content: '\f099'; }
  .social-menu a.facebook:before {
    content: '\f09a'; }
  .social-menu a.linkedin:before {
    content: '\f0e1'; }
