@import url("https://fonts.googleapis.com/css?family=Gruppo|Nixie+One|Poiret+One");
.navbar {
  display: flex;
  align-items: center; }
  .navbar__logo {
    flex: 3; }
  .navbar__links {
    display: flex;
    flex: 5;
    text-align: center; }
    .navbar__links a {
      flex: 1; }

.bio {
  padding: 5rem 0 5rem 0; }

.portrait {
  padding-top: 2rem; }

.my-story {
  padding: 2rem 0 0 2rem; }

.testimonial__client {
  display: flex;
  flex-direction: column;
  text-align: center; }

.site-footer {
  display: flex;
  align-items: center; }
  .site-footer ul {
    margin-bottom: 0;
    align-items: center;
    flex: 5;
    justify-content: space-between; }
  .site-footer li {
    margin-bottom: 0; }
  .site-footer__realtor {
    display: flex;
    flex: 1; }
  .site-footer__social {
    display: flex;
    flex: 6; }
    .site-footer__social a {
      flex: 1; }

/*.realtor {
    flex: 1;
    align-items: center;
    margin: auto;
}*/
.site-footer ul {
  list-style: none;
  display: flex; }

.site-header {
  background: linear-gradient(132deg, #247ba0, #cbd4c2);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite; }

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .site-header a {
    color: #fffcff;
    font-size: 2rem; }

.hero {
  height: 70vh; }
  .hero__overlay {
    background: rgba(80, 81, 79, 0.7);
    height: 70vh; }

.navbar {
  height: 70px; }
  .navbar__logo {
    margin-left: 3rem; }
    .navbar__logo a {
      font-size: 3rem; }
  .navbar a {
    text-decoration: none; }

.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .showcase__item {
    width: 23%; }
    .showcase__item img {
      width: 100%; }
  .showcase__blue-court {
    width: 100%; }

.testimonial__photo img {
  border: 2px #247ba0; }

.git p {
  font-size: 5rem; }

.cta {
  padding: 12rem 0; }
  .cta p {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center; }
  .cta a {
    text-decoration: none; }

.site-footer {
  height: 70px;
  padding: 0 3rem 0 3rem;
  background: linear-gradient(132deg, #247ba0, #cbd4c2);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite; }

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.follow {
  color: #fffcff;
  font-size: 3rem;
  margin-right: 1rem; }

.site-footer__social a {
  /*font-family: FontAwesome;*/
  padding-right: 5px;
  text-decoration: none;
  color: #fffcff;
  font-size: 3rem;
  /*&.twitter::before {
        content: '\f099';
    }

    &.linkedin::before {
        content: '\f0e1';
    }

    &.youtube::before {
        content: '\f167';
    }

    &.facebook::before {
        content: '\f09a';
    }

    &.google::before {
        content: '\f0d5';
    }

    &.instagram::before {
        content: '\f16d';
    }

    &.pinterest::before {
        content: '\f231 ';
    }

    &.medium::before {
        content: '\f23a';
    }*/ }

.follow {
  color: #fffcff; }
