.site-footer {
    background-color: $header;
    height: 70px;
}

.follow {
    color: $white;
    font-size: 3rem;
    margin-right: 1rem;
}

.site-footer__social a {
    font-family: FontAwesome;
    padding-right: 5px;
    text-decoration: none;
    color: $white;
    font-size:3rem;

    &.twitter::before {
        content: '\f099';
    }

    &.linkedin::before {
        content: '\f0e1';
    }

    &.youtube::before {
        content: '\f167';
    }

    &.facebook::before {
        content: '\f09a';
    }

    &.google::before {
        content: '\f0d5';
    }

    &.instagram::before {
        content: '\f16d';
    }

    &.pinterest::before {
        content: '\f231 ';
    }

    &.medium::before {
        content: '\f23a';
    }
}

.follow {
    color: $white;
}
