.site-header {
    background-color: $header;

    a {
        color: $white;
        font-size: 2rem;
    }
}

.hero {
    height: 70vh;

    &__overlay {
        background: $hero;
        height: 70vh;
    }
}

.navbar {

    height: 70px;

    &__logo {
        margin-left: 3rem;

        a {
            font-size: 3rem;
        }

    }

    &__links {

    }

    a {
        text-decoration: none;
    }
}
