// Header
.navbar {
    display: flex;
    align-items: center;

    &__logo {
        flex: 3;
    }

    &__links {
        display: flex;
        flex: 5;
        text-align: center;

        a {
            flex: 1;
        }
    }
}

// Testimonials
.testimonial__client {
    display: flex;
    flex-direction: column;
    text-align: center;
}

// Footer
.site-footer {
    display: flex;
    align-items: center;

    ul {
        margin-bottom: 0;
        align-items: center;
        flex: 5;
        justify-content: space-between;
    }

    li {
        margin-bottom: 0;
    }

    &__realtor {
        display: flex;
        flex: 3;
    }

    &__social {
        display: flex;
        flex: 5;
        //align-self: center;

        a {
            flex: 1;
        }
    }
}

/*.realtor {
    flex: 1;
    align-items: center;
    margin: auto;
}*/

.site-footer ul {
    list-style: none;
    display: flex;
}
