.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__item {
        width: 23%;

        img {
            width: 100%;
        }
    }

    &__blue-court {
        width: 100%;
    }
}

.testimonial {
    &__photo img {
        border: 2px $lapis-lazuli;
    }

    &__name {}

    &__quote {}
}

.git {

    p {
        font-size: 5rem;
    }
}



.cta {
    padding: 12rem 0;

    p {
        font-size: 3rem;
        margin-bottom: 0;
        text-align: center;
    }

    a {
        text-decoration: none;
    }
}
