.services {

    &__service {

    }

    &__staged-listings {

    }

    &__consulting {

    }

    &__partnerships {

    }
}



.testimonial {

    &__photo img {
        border: 2px $lapis-lazuli;

    }

    &__name {

    }

    &__quote {

    }
}

.git p {
    font-size: 5rem;
}

.cta {
    //display: flex;
    //align-items: flex-end;
    //padding: 30px;
    padding: 12rem 0 12rem 0;

p {
        font-size: 3rem;
        margin-bottom: 0;
        text-align: center;
        //padding-left: 6.5rem;
    }

    a {
        text-decoration: none;
    }
}
