// Showcase Carousel
.carousel {
  padding-bottom: 33.3%;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel .flickity-viewport {
  position: absolute;
  width: 100%;
}

/* cell inherit height from carousel*/
.carousel-cell {
  height: 100%;
}

// Responsive video styles
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
