// Color Palette
$dark-liver: rgba(80, 81, 79, 1)
$pastel-gray: rgba(203, 212, 194, 1)
$white: rgba(255, 252, 255, 1)
$lapis-lazuli: rgba(36, 123, 160, 1)
$Khaki: rgba(195, 178, 153, 1)

// Site Colors
$header: $lapis-lazuli
$body: $Khaki
$footer: $dark-liver



// Fonts
//font-family: 'Poiret One', cursive;
//font-family: 'Nixie One', cursive;
//font-family: 'Gruppo', cursive;
$poriet: 'Poiret One', cursive
$nixie: 'Nixie One', cursive
$gruppo: 'Gruppo', cursive

// Images
